<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kristiina.solfedzosoftware">

    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LearnNotesMainActivity"
            android:label="@string/title_activity_opi_noote"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.kristiina.solfedzosoftware.MainActivity" />
        </activity>
        <activity
            android:name=".LearnNotesByListeningActivity"
            android:label="@string/title_activity_opi_noote_kuulmise_jargi"
            android:parentActivityName=".LearnNotesMainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.kristiina.solfedzosoftware.LearnNotesMainActivity" />
        </activity>
        <activity
            android:name=".LearnNotesByPictureActivity"
            android:label="@string/title_activity_learn_notes_by_picture"
            android:parentActivityName=".LearnNotesMainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.kristiina.solfedzosoftware.LearnNotesMainActivity" />
        </activity>
        <activity
            android:name=".RecognizeNoteBySound"
            android:label="@string/title_activity_recognize_note_by_sound"
            android:parentActivityName=".LearnNotesMainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.kristiina.solfedzosoftware.LearnNotesMainActivity" />
        </activity>
        <activity
            android:name=".LearnRythmsMainActivity"
            android:label="@string/title_activity_learn_rythms"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.kristiina.solfedzosoftware.MainActivity" />
        </activity>
        <activity
            android:name=".LearnRythmsByListening"
            android:label="@string/title_activity_learn_rythms_by_listening"
            android:parentActivityName=".LearnRythmsMainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.kristiina.solfedzosoftware.LearnRythmsMainActivity" />
        </activity>
        <activity
            android:name=".LearnRythmsByPicture"
            android:label="@string/title_activity_learn_rythms_by_picture"
            android:parentActivityName=".LearnRythmsMainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.kristiina.solfedzosoftware.LearnRythmsMainActivity" />
        </activity>
        <activity
            android:name=".LearnNotesTheoryActivity"
            android:label="@string/title_activity_learn_notes_theory"
            android:parentActivityName=".LearnNotesMainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.kristiina.solfedzosoftware.LearnNotesMainActivity" />
        </activity>
        <activity
            android:name=".LearnNotesTestsActivity"
            android:label="@string/title_activity_learn_notes_tests"
            android:parentActivityName=".LearnNotesMainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.kristiina.solfedzosoftware.LearnNotesMainActivity" />
        </activity>
        <activity
            android:name=".LearnNotesTests2Activity"
            android:label="@string/title_activity_learn_notes_tests2"
            android:parentActivityName=".LearnNotesTestsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.kristiina.solfedzosoftware.LearnNotesTestsActivity" />
        </activity>
        <activity
            android:name=".LearnNotesTests3Activity"
            android:label="@string/title_activity_learn_notes_tests3"
            android:parentActivityName=".LearnNotesTestsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.kristiina.solfedzosoftware.LearnNotesTestsActivity" />

        </activity>
        <activity
            android:name=".SettingActivity"
            android:label="@string/title_activity_setting"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.kristiina.solfedzosoftware.MainActivity" />
        </activity>
        <activity
            android:name=".LearnRythmsTestsActivity"
            android:label="@string/title_activity_learn_rythms_tests"
            android:parentActivityName=".LearnRythmsMainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.kristiina.solfedzosoftware.LearnRythmsMainActivity" />
        </activity>
        <activity
            android:name=".LearnRythmsTests2Activity"
            android:label="@string/title_activity_learn_rythms_tests2"
            android:parentActivityName=".LearnNotesTestsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.kristiina.solfedzosoftware.LearnNotesTestsActivity" />
        </activity>
        <activity
            android:name=".LearnRythmsTests3Activity"
            android:label="@string/title_activity_learn_rythms_tests3"
            android:parentActivityName=".LearnRythmsTestsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.kristiina.solfedzosoftware.LearnRythmsTestsActivity" />
        </activity>
    </application>

</manifest>